<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
  <h2 class="text-center">Changed Password Form</h2>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 pb-5">


      <!--Form with header-->

      <form (ngSubmit)="changePassword()">
        <div class="card border-primary rounded-0">
          <div class="card-header p-0">
            <div class="bg-info text-white text-center py-2">
              <h3><i class="fa fa-key"></i> Password Change</h3>
            </div>
          </div>
          <div class="card-body p-3">

            <!--Body-->
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa text-info">Old Password</i></div>
                </div>
                <input [(ngModel)]="forgetPassword.oldPassword" type="password" class="form-control" id="old" name="nombre" placeholder="Old Password" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa text-info">New Password</i></div>
                </div>
                <input [(ngModel)]="forgetPassword.newPassword" type="password" class="form-control" id="new1" name="password1" placeholder="New Password" required>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa text-info">Repeat Password</i></div>
                </div>
                <input [(ngModel)]="rematch"  type="password" class="form-control" id="new2" name="password2" placeholder="Repeat New Password" (input)="matchPass(rematch)" required>
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="!notMatched">
              Password not Matched
            </div>
            <div class="text-center">
              <input type="submit" value="Change Password" class="btn btn-info btn-block rounded-0 py-2">
            </div>
          </div>

        </div>
      </form>
      <!--Form with header-->
    </div>
  </div>
</div>
